# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
desafio-frontend/dist
desafio-frontend/tmp
desafio-frontend/out-tsc
# Only exists if Bazel was run
desafio-frontend/bazel-out

# dependencies
desafio-frontend/node_modules

# profiling files
desafio-frontend/chrome-profiler-events*.json
desafio-frontend/speed-measure-plugin*.json

# IDEs and editors
desafio-frontend/.idea
desafio-frontend/.project
desafio-frontend/.classpath
desafio-frontend/.c9/
desafio-frontend/*.launch
desafio-frontend/.settings/
desafio-frontend/*.sublime-workspace

# IDE - VSCode
desafio-frontend/.vscode/*
desafio-frontend/!.vscode/settings.json
desafio-frontend/!.vscode/tasks.json
desafio-frontend/!.vscode/launch.json
desafio-frontend/!.vscode/extensions.json
desafio-frontend/.history/*

# misc
desafio-frontend/.sass-cache
desafio-frontend/connect.lock
desafio-frontend/coverage
desafio-frontend/libpeerconnection.log
desafio-frontendnpm-debug.log
desafio-frontendyarn-error.log
desafio-frontendtestem.log
desafio-frontend/typings

# System Files
desafio-frontend/.DS_Store
desafio-frontend/Thumbs.db
